@font-face {
  font-family: 'BOWLER';
  src: url('/fonts/BOWLER.woff2') format('woff2'),
       url('/fonts/BOWLER.woff') format('woff'),
       url('/fonts/BOWLER.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
